@model TFE_GestionDeStockEtVenteEnLigne.Models.Attribut

@{
    ViewData["Title"] = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Attribut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesure)
        </dt>
        <dd>
             @Html.DisplayFor(model => model.Mesure)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edition</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
