@model IEnumerable<TFE_GestionDeStockEtVenteEnLigne.Models.Attribut>

@{
    ViewData["Title"] = "Index";
}

<h2>Attributs</h2>

<p>
    <a asp-action="Create">Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesure)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesure)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edition</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Détails</a> 
                @* |<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
