@model TFE_GestionDeStockEtVenteEnLigne.Models.Adresse

@{
    ViewData["Title"] = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Adresse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Localite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroBoite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroBoite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodePostal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comune)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comune)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edition</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
