@model TFE_GestionDeStockEtVenteEnLigne.Models.ProduitCatAdapter

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" method="post"  enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Produit</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Produit.Ref" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.Ref" class="form-control" />
                <span asp-validation-for="Produit.Ref" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Denomination" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.Denomination" class="form-control" />
                <span asp-validation-for="Produit.Denomination" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Categorie" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select  asp-for="Produit.CategorieID" asp-items="@(new SelectList(Model.ListCat,"ID","Nom"))" class="selectpicker">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Produit.MotClef" class="col-md-2 control-label"></label>
            <div class="col-md-10 multiselect">
                <div class="tab-pane">
                @if (Model.ListMotClef.Count > 0)
                {
                    @foreach (var item in Model.ListMotClef)
                    {
                        <input type=checkbox name="MotClef" value="@item.ID" > @item.Valeur
                        <br/>
                    }
                }
                else
                {
                    <span>Aucun Mot cléf trouver!</span>
                }
                </div>
            </div>
        </div>
       

        <div class="form-group">
            <label asp-for="Produit.Prix" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.Prix" class="form-control" />
                <span asp-validation-for="Produit.Prix" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.QuantiteEmballage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.QuantiteEmballage" class="form-control" />
                <span asp-validation-for="Produit.QuantiteEmballage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.NBPieceEmballage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.NBPieceEmballage" class="form-control" />
                <span asp-validation-for="Produit.NBPieceEmballage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.TVA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.TVA" class="form-control" />
                <span asp-validation-for="Produit.TVA" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.CompteCompta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.CompteCompta" class="form-control" />
                <span asp-validation-for="Produit.CompteCompta" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.Description" class="form-control" />
                <span asp-validation-for="Produit.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Marque" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.Marque" class="form-control" />
                <span asp-validation-for="Produit.Marque" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.QuantiteStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.QuantiteStock" class="form-control" />
                <span asp-validation-for="Produit.QuantiteStock" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.Image" type="file" name="Image"  />
                <span asp-validation-for="Produit.Image" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group">
            <label asp-for="Produit.Valeur" class="col-md-2 control-label"></label>
            <div class="col-md-10 multiselect">
                <div class="tab-pane" >
                    <div id="attributs">
                        @if (Model.TousLesAttributs.Count > 0)
                        {
                            <select typeof="Text" name="nameAttribut"id="nameAttribut">

                                @foreach (var item in Model.TousLesAttributs)
                                {
                                    <Option value="@item.ID">@item.Nom</Option>
                                }
                            </select>
                            <input type="Text" name="ValueAttribut" />
                        }
                        else
                        {
                            <span>Aucun attributs trouver</span>
                        }

                    </div>
                </div>
                <button type="button" onclick="addInputAttribut()">Ajouter Attributs</button>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="col-md-2 control-label">Prix</label>
            <div class="col-md-10">
                <input type="number" name="Prix"min="1" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Taux de TVA</label>
            <div class="col-md-10">
                <input type="number"name="tauxTVA" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Quantité minimum</label>
            <div class="col-md-10">
                <input type="number" min="1" name="quantite" class="form-control" />
            </div>
        </div>
       
        <div class="form-group">
            <label asp-for="ListFournisseur" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <!--<select asp-for="FournisseurID" asp-items="@(new SelectList(Model.ListFournisseur,"ID","Nom"))" class="selectpicker"></select>-->
                <select name="select">
                    @foreach (var item in Model.ListFournisseur)
                    { 
                        <option value="@item.ID">@item.Nom</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
  (function() {
       $(".multiselect").multiselect();
  });
</script>