@model TFE_GestionDeStockEtVenteEnLigne.Models.ProduitCatAdapter

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Produit</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Produit.ID" />
        <div class="form-group">
            <label asp-for="Produit.Ref" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.Ref" class="form-control" />
                <span asp-validation-for="Produit.Ref" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Denomination" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.Denomination" class="form-control" />
                <span asp-validation-for="Produit.Denomination" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Prix" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.Prix" class="form-control" />
                <span asp-validation-for="Produit.Prix" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.QuantiteEmballage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.QuantiteEmballage" class="form-control" />
                <span asp-validation-for="Produit.QuantiteEmballage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Categorie" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Produit.CategorieID" class="selectpicker" asp-items="@(new SelectList(Model.ListCat, "ID", "Nom"))"></select>
                <span asp-validation-for="Produit.CategorieID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Produit.TVA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.TVA" class="form-control" />
                <span asp-validation-for="Produit.TVA" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.CompteCompta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.CompteCompta" class="form-control" />
                <span asp-validation-for="Produit.CompteCompta" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.Description" class="form-control" />
                <span asp-validation-for="Produit.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Marque" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.Marque" class="form-control" />
                <span asp-validation-for="Produit.Marque" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.QuantiteStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Produit.QuantiteStock" class="form-control" />
                <span asp-validation-for="Produit.QuantiteStock" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input id="src" onchange="afficherImage()" asp-for="Produit.Image" type="file" name="Image" />
                <span asp-validation-for="Produit.Image" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @{
                    var base64 = Convert.ToBase64String(Model.Produit.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img id="target" class="imagePetite" src="@imgSrc" id="myBtn" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Produit.Valeur" class="col-md-2 control-label"></label>
            <div class="col-md-10 multiselect">
                <div class="tab-pane">
                    <div id="attributs">
                        @{var nb = 0; }
                        @foreach (var item2 in Model.Produit.Valeur)
                        {

                            var idspan = "span" + nb; 
                            <p id="@idspan">
                                <select typeof="Text" name="nameAttribut" id="nameAttribut">
                                    <option value="@item2.AttributID">@item2.Attribut.Nom en @item2.Attribut.Mesure</option>
                                    @foreach (var item in Model.TousLesAttributs)
                                    {
                                        <Option value="@item.ID">@item.Nom en @item.Mesure </Option>
                                    }
                                </select><input value="@item2.Valeurs" type="Text" name="ValueAttribut" />
                                @if(nb!= -1)
                                {
                                    <button class="btn btn-secondary" aria-label="Close" onclick="DeleteSpan(@nb)"></button>
                                }
                            </p>
                            nb--;
                        }

                        <br />
                        <p>
                            @if (Model.Produit.Valeur.Count <= 0)
                            {
                                <select typeof="Text" name="nameAttribut" id="nameAttribut">

                                    @foreach (var item in Model.TousLesAttributs)
                                    {
                                        <Option value="@item.ID">@item.Nom en @item.Mesure </Option>
                                    }
                                </select><input type="Text" name="ValueAttribut" />

                            }
                        </p>

                    </div>
                </div>
                <button type="button" onclick="addInputAttribut()">Ajouter Attributs</button>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ListFournisseur" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <!--<select asp-for="FournisseurID" asp-items="@(new SelectList(Model.ListFournisseur,"ID","Nom"))" class="selectpicker"></select>-->
                <select name="select">
                    @foreach (var item in Model.ListFournisseur)
                    {
                        <option value="@item.ID">@item.Nom</option>
                    }
                </select>
            </div>
        </div>


        @foreach (var item in Model.Produit.Provients)
        {
            <div class="form-group">
                <label class="col-md-2 control-label">Prix</label>
                <div class="col-md-10">
                    <input type="number" min="0" step="1" name="Prix" value="@item.Prix" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Taux de TVA</label>
                <div class="col-md-10">
                    <input type="number" min="0" step="1" name="tauxTVA" value="@item.TauxTVA" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Quantité minimum</label>
                <div class="col-md-10">
                    <input type="number" min="0" step="1" name="quantite" value="@item.QuantiteMinCommande" class="form-control">
                </div>
            </div>
        }
        @*<input asp-for="Produit.Provients.GetEnumerator().Current.QuantiteMinCommande" type="number" min="0" step="1" name="quantite" class="form-control" />*@

        <div class="form-group">
            <label asp-for="Produit.MotClef" class="col-md-2 control-label"></label>
            <div class="col-md-10 multiselect">
                <div class="tab-pane">
                    @foreach (var item in Model.Produit.MotClef)
                    {
                        <input type=checkbox name="MotClef" value="@item.MotClefId" checked> @item.MotClef.Valeur
                        <br />
                    }
                    @foreach (var item in Model.ListMotClef)
                    {
                        <input type=checkbox name="MotClef" value="@item.ID"> @item.Valeur
                        <br />
                    }

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
