@model TFE_GestionDeStockEtVenteEnLigne.Models.Adaptateur.CommandeAdresseAdaptateur

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Commande</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Adresse.Localite" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adresse.Localite" class="form-control" value="@Model.Adresse.Localite" />
                <span asp-validation-for="Adresse.Localite" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adresse.Rue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adresse.Rue" class="form-control" value="@Model.Adresse.Rue" />
                <span asp-validation-for="Adresse.Rue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adresse.Numero" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adresse.Numero" class="form-control" value="@Model.Adresse.Numero" />
                <span asp-validation-for="Adresse.Numero" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adresse.NumeroBoite" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adresse.NumeroBoite" class="form-control" value="@Model.Adresse.NumeroBoite" />
                <span asp-validation-for="Adresse.NumeroBoite" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adresse.Pays" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adresse.Pays" class="form-control"  value="@Model.Adresse.Pays"/>
                <span asp-validation-for="Adresse.Pays" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adresse.CodePostal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adresse.CodePostal" class="form-control" value="@Model.Adresse.CodePostal" />
                <span asp-validation-for="Adresse.CodePostal" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adresse.Comune" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adresse.Comune" class="form-control" value="@Model.Adresse.Comune"/>
                <span asp-validation-for="Adresse.Comune" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
