@model TFE_GestionDeStockEtVenteEnLigne.Models.Adaptateur.CommandeAdresseAdaptateur

@{
    ViewData["Title"] = "Create";
}

<h2>Adresse de facturation</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label class="col-md-3 control-label">Enlèvement en magasin?</label>
            <div class="col-md-9">
                @*@Html.CheckBox("enlevementMagasin", false)*@
                <div><input id="enlevementMagasin" type="checkbox" name="enlevementMagasin" class="moncheckbox" value="true" onchange="afficherAdd()"> <div id="Livraison">Oui</div></div>
            </div>
        </div>

        <div id="add" class="monPanier">
            <div class="form-group">
                <label class="col-md-2 control-label">Vos adresse :</label>
                <div class="col-md-10">
                    <select id="selectadr" onchange="selectAdresse()" asp-for="Adresse" class="selectpicker">
                        @foreach (var adr in Model.ListeAdresse)
                        {
                            <option>@adr.Localite,@adr.Rue,@adr.Numero,@adr.NumeroBoite,@adr.Pays,@adr.CodePostal,@adr.Comune</option>
                        }
                    </select>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adresse.Localite" class="col-md-2 control-label">Localité*</label>
                <div class="col-md-10">
                    <input id="localite" asp-for="Adresse.Localite" class="form-control" value="@Model.ListeAdresse[0].Localite" required />
                    <span asp-validation-for="Adresse.Localite" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.Rue" class="col-md-2 control-label">Rue*</label>
                <div class="col-md-10">
                    <input id="rue" asp-for="Adresse.Rue" class="form-control" value="@Model.ListeAdresse[0].Rue" required />
                    <span asp-validation-for="Adresse.Rue" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.Numero" class="col-md-2 control-label">Numéro*</label>
                <div class="col-md-10">
                    <input id="numero" asp-for="Adresse.Numero" class="form-control" value="@Model.ListeAdresse[0].Numero" required />
                    <span asp-validation-for="Adresse.Numero" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.NumeroBoite" class="col-md-2 control-label">Numro de boite</label>
                <div class="col-md-10">
                    <input id="numboite" asp-for="Adresse.NumeroBoite" class="form-control" value="@Model.ListeAdresse[0].NumeroBoite" />
                    <span asp-validation-for="Adresse.NumeroBoite" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.Pays" class="col-md-2 control-label">Pays*</label>
                <div class="col-md-10">
                    <input id="pays" asp-for="Adresse.Pays" class="form-control" value="@Model.ListeAdresse[0].Pays" required />
                    <span asp-validation-for="Adresse.Pays" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.CodePostal" class="col-md-2 control-label">Code Postal*</label>
                <div class="col-md-10">
                    <input id="codepostal" asp-for="Adresse.CodePostal" class="form-control" value="@Model.ListeAdresse[0].CodePostal" required />
                    <span asp-validation-for="Adresse.CodePostal" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.Comune" class="col-md-2 control-label">Commune*</label>
                <div class="col-md-10">
                    <input id="comune" asp-for="Adresse.Comune" class="form-control" value="@Model.ListeAdresse[0].Comune" required />
                    <span asp-validation-for="Adresse.Comune" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Paniers" asp-action="Index">Anuler</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
