@model TFE_GestionDeStockEtVenteEnLigne.Models.Commande

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCommade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCommade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnCours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnCours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Envoie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Envoie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdresseFacturation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdresseFacturation.Localite)
        </dd>

        @foreach (var item in Model.Possede)
    {
        <dt>
            produit
        </dt>
        <dd>
            @Html.DisplayFor(model => item.Produit.Ref)
        </dd>
}
    </dl>

    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <form asp-action="Details" asp-controller="Factures" asp-route-id="@Model.ID">
        <input type="submit" value="Voir la facture" class="btn btn-default" />
    </form>
   
</div>
