@model TFE_GestionDeStockEtVenteEnLigne.Models.Adaptateur.CommandeAdresseAdaptateur

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="form-group">
    <label class="col-md-2 control-label">Vos adresse :</label>
    <div class="col-md-10">
        <select id="selectadr" onchange="selectAdresse()" asp-for="Adresse" class="selectpicker">
            @foreach (var adr in Model.ListeAdresse)
            {
                <option>@adr.Localite,@adr.Rue,@adr.Numero,@adr.NumeroBoite,@adr.Pays,@adr.CodePostal,@adr.Comune</option>
            }
        </select>
    </div>
</div>
<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Commande</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" id="commandeId" asp-for="Commande.ID" />
        <input type="hidden" asp-for="Commande.RegisterViewModelID" />
        <input type="hidden" asp-for="Commande.DateCommade" />
        @*<div class="form-group">
            <label asp-for="ClientID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="ClientID" class="form-control" />
                <span asp-validation-for="ClientID" class="text-danger"></span>
            </div>
        </div>*@
        @*<div class="form-group">
            <label asp-for="RegisterViewModelID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RegisterViewModelID" class="form-control" />
                <span asp-validation-for="RegisterViewModelID" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group">
            <label class="control-label col-md-2">Client</label>
            <div class="col-md-10">
                @{
                    var client2 = ViewData["client"] as ApplicationUser;
                    if (client2.Nom != null)
                    {
                        <label class="form-control">@client2.Nom @client2.Prenom</label>
                    }
                    else
                    {
                        <label class="form-control">Commande passe par la gestionnaire</label>
                    }

                }

            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Commande.AdresseFacturation.Localite" class="col-md-2 control-label">Localit*</label>
            <div class="col-md-10">
                <input id="localite" asp-for="Commande.AdresseFacturation.Localite" class="form-control" required />
                <span asp-validation-for="Commande.AdresseFacturation.Localite" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Commande.AdresseFacturation.Rue" class="col-md-2 control-label">Rue*</label>
            <div class="col-md-10">
                <input id="rue" asp-for="Commande.AdresseFacturation.Rue" class="form-control" required />
                <span asp-validation-for="Commande.AdresseFacturation.Rue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Commande.AdresseFacturation.Numero" class="col-md-2 control-label">Numro*</label>
            <div class="col-md-10">
                <input id="numero" asp-for="Commande.AdresseFacturation.Numero" class="form-control" required />
                <span asp-validation-for="Commande.AdresseFacturation.Numero" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Commande.AdresseFacturation.NumeroBoite" class="col-md-2 control-label">Numro de boite</label>
            <div class="col-md-10">
                <input id="numboite" asp-for="Commande.AdresseFacturation.NumeroBoite" class="form-control" />
                <span asp-validation-for="Commande.AdresseFacturation.NumeroBoite" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Commande.AdresseFacturation.Pays" class="col-md-2 control-label">Pays*</label>
            <div class="col-md-10">
                <input id="pays" asp-for="Commande.AdresseFacturation.Pays" class="form-control" required />
                <span asp-validation-for="Commande.AdresseFacturation.Pays" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Commande.AdresseFacturation.CodePostal" class="col-md-2 control-label">Code Postal*</label>
            <div class="col-md-10">
                <input id="codepostal" asp-for="Commande.AdresseFacturation.CodePostal" class="form-control" required />
                <span asp-validation-for="Commande.AdresseFacturation.CodePostal" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Commande.AdresseFacturation.Comune" class="col-md-2 control-label">Commune*</label>
            <div class="col-md-10">
                <input id="comune" asp-for="Commande.AdresseFacturation.Comune" class="form-control" required />
                <span asp-validation-for="Commande.AdresseFacturation.Comune" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="DateCommade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateCommade" class="form-control" />
                <span asp-validation-for="DateCommade" class="text-danger"></span>
            </div>
        </div>*@
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("gestionnaire"))
            {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="Commande.EnCours" />
                            <label asp-for="Commande.EnCours"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Commande.Envoie" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Commande.Envoie" class="form-control" />
                        <span asp-validation-for="Commande.Envoie" class="text-danger"></span>
                    </div>
                </div>
            }
        }
        <table class="table">
            <thead>
                <tr>
                    @*<th>
                        @Html.DisplayNameFor(model => model.RegisterViewModelID)
                    </th>*@
                    <th>
                        Produits
                    </th>
                    <th>
                        Quantit
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Prix unitaire
                    </th>
                    <th>
                        Prix
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model.Commande.Possede)
                {

                    Possede p = new Possede();
                    p.ProduitID = item.ProduitID;
                    p.CommandeID = item.CommandeID;
                    p.Quantite = item.Quantite;

                    <tr id="@item.ProduitID">
                        <td>
                            <input id="@i" type="hidden" name="possedeId" asp-for="Commande.Possede.ToArray()[i].ID" />
                            <input id="@i" type="hidden" name="produitId" asp-for="Commande.Possede.ToArray()[i].ProduitID" />
                            <input id="@i" type="hidden" name="CommandeId" asp-for="Commande.Possede.ToArray()[i].CommandeID" />
                           
                            @Html.DisplayFor(modelItem => item.Produit.ID)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantite)
                            @*<input id="@i" type="text" name="quantite" asp-for="Commande.Possede.ToArray()[i].Quantite" />*@
                        </td>
                        <td>
                            @{
                                @if (item.Produit.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(item.Produit.Image);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <img class="imagePetite" src="@imgSrc" id="myBtn" />
                                }
                            }
                            @*@Html.DisplayFor(modelItem => item.Produit.Image)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Produit.Prix)
                        </td>
                        <td>
                            @{ var prixQuantite = (item.Produit.Prix * @item.Quantite); }
                            @prixQuantite

                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                            <a asp-controller="Produits" asp-action="Details" asp-route-id="@item.ProduitID">Details</a>
                            @*<a asp-action="DeleteArticleDemande" asp-route-id="@item.ID" asp-route-idcomm="@Model.Commande.ID">Delete</a>*@
                            @*<button onclick="deleteProdCom(@item.ProduitID)">Delete</button>*@
                        </td>
                    </tr>

                    ++i;

                }

            </tbody>
        </table>

    </div>
</form>



