@model TFE_GestionDeStockEtVenteEnLigne.Models.Facture

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Facture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePaiement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePaiement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commande)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commande.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
