@model IEnumerable<TFE_GestionDeStockEtVenteEnLigne.Models.Facture>

@{
    ViewData["Title"] = "Index";
}

<h2>Factures</h2>

<table class="table table-striped">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePaiement)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Commande)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePaiement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commande.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> @*|
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
