@model TFE_GestionDeStockEtVenteEnLigne.Models.Metier.Panier

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Panier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegisterViewModelID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterViewModelID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produit.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
